// Colors
$primary: #ff6b35; //Buttons, key actions
$secondary: #64b5f6; //Secondary buttons, freshness accents
$icons: #ffd166; //Highlights, food icons
$tags: #ff7e6b; //Tags, alerts

$lightBackground: #ffffff;
$lightCards: #f5f5f5;

$darkbackground: #3a2e2e;
$darkCards: #2d2d2d;

//Font Colors
$lightHeadings: #1a237e;
$lightBody: #333333;
$darkHeadings: #ffffff;
$darkBody: #e0e0e0;
$darkSubtle: #b0b0b0;

// Fonts
$headlines: "Edu NSW ACT Cursive", cursive;
$bodyText: "Nunito Sans";
