@use "core/reset";
@use "core/variables" as vars;

:root {
  background-color: vars.$darkbackground;
  color: vars.$darkBody;
  font-family: vars.$bodyText;
}

body {
  height: 100vh;
}
.btn {
  font-family: vars.$bodyText;
  font-size: larger;
  color: vars.$lightBody;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  background-color: vars.$secondary;
  display: flex;
  width: 15rem;
  height: 4rem;
  flex-direction: column;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
}

header {
  border-bottom: solid vars.$tags;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  padding-block: 1rem;
}

footer {
  border-top: solid vars.$tags;
  margin-block: 1rem;
  padding: 1rem;
}

.footerList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: vars.$darkBody;
}

h1,
h2,
h3 {
  font-family: vars.$headlines;
  color: vars.$darkHeadings;
}

.heroSection {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
  line-height: 2.5rem;
  display: flex;
}

.heroImage {
  width: 18rem;
  height: 15rem;
  margin: 0 20px 15px 0;
  float: left;
  shape-outside: margin-box;
}
.heroText {
  text-align: justify;
}
.table {
  width: 95%;
  margin: 1rem;
  border-collapse: collapse;
  margin-top: 0.5rem;
}
th {
  border: solid cadetblue;
  padding: 1rem;
  background-color: vars.$tags;
  color: vars.$darkHeadings;
}
td {
  border: solid vars.$secondary;
  padding: 1rem;
}

tr:hover {
  background-color: vars.$secondary;
  color: vars.$lightBody;
}
